IG_Scraper.json
{
  "name": "IG Scraper",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=site:https://www.instagram.com/{{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Filipino Beauty Industry Analyst specializing in influencer marketing research. Your task is to use Serper as a search tool to find Instagram influencers in the Philippines who are creating content about beauty products. \n\nAs an expert in the Filipino beauty market, focus on identifying influencers who:\n1. Have a significant following (10K+ followers)\n2. Regularly post beauty product reviews, tutorials, or create their own beauty products\n3. Are based in the Philippines\n4. Have engagement with their audience through comments and likes\n5. Do not include celebrities or actresses\n\nFor each influencer found, create an array and extract the following Instagram profile information if there's no data found, just put null:\n- Username\n- Full name/display name\n- Follower count\n- Following count\n- Bio/description\n- Niche specialization (skin care, makeup, haircare, etc.)\n- Average engagement rate (if available)\n- Link to their profile\n- Notable brand collaborations\n- Any beauty products they've personally launched\n\nPlease provide the results in a structured format and include at least 15-20 relevant influencers sorted by follower count. Also note which ones have created their own beauty product lines versus those who primarily review products.\n\nYour analysis should include insights about emerging trends within the Filipino beauty influencer landscape and identify potential collaboration opportunities. Do not add any other words, just the results.\nSkip usernames from this list: {{ $json.property_username }}\nIf there are less than 10 results, search again."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        720,
        0
      ],
      "id": "33120108-85d6-4df4-8944-805d3fbc1046",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        640,
        220
      ],
      "id": "83a548a1-6f40-427c-aaaf-51ba8496df7b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "oSYye69ii3FCMtuL",
          "name": "OpenRouter Ligaya"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "use this tool for web searches.",
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-API-KEY",
              "valueProvider": "fieldValue",
              "value": "9511ebe772bc3094c5382c85e5e564c7ae2294ca"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "q",
              "valueProvider": "fieldValue",
              "value": "{placeholder}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        840,
        220
      ],
      "id": "3e049a62-8da7-4dc1-9bce-b9f1b8b9b5be",
      "name": "NotionSerper"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        0
      ],
      "id": "bef43c35-b878-44a5-8535-78765a81828f",
      "name": "When chat message received",
      "webhookId": "8905957a-267a-4932-93d7-3267a448e171"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Username\": [\"California\"],\n    \"Display name\": [\"@ligaya\"],\n  \t\"Follower count\": [\"10000\"],\n    \"Bio/description\": [\"This is a bio\"],\n\t\"Niche specialization\": [\"Beauty products\"],\n    \"Average engagement rate\": [\"10,000\"],\n\t\"Link to their profile\": [\"https://www.instagram.com/hacker_hub8/\"],\n  \t\"Notable brand collaborations\": [\"Nivea\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1000,
        220
      ],
      "id": "e5dbe768-b458-401b-9920-eacab2e2d4ff",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from the input\nconst data = $input.all()[0].json.output;\n\n// Map each index to a formatted object\nconst result = data.Username.map((_, idx) => ({\n    \"Username\": data.Username[idx] || '',\n    \"Display name\": data[\"Display name\"][idx] || '',\n    \"Follower count\": data[\"Follower count\"][idx] || '',\n    \"Bio/description\": data[\"Bio/description\"][idx] || '',\n    \"Niche specialization\": data[\"Niche specialization\"][idx] || '',\n    \"Average engagement rate\": data[\"Average engagement rate\"][idx] || '',\n    \"Link to their profile\": data[\"Link to their profile\"][idx] || '',\n    \"Notable brand collaborations\": data[\"Notable brand collaborations\"][idx] || ''\n}));\n\n// Return as an array of items\nreturn result.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        0
      ],
      "id": "36eb89ea-335b-4cd6-accd-45125bb0e176",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1a8a83da-9783-8000-b19b-f25cc2710290",
          "mode": "list",
          "cachedResultName": "Instagram Influencers",
          "cachedResultUrl": "https://www.notion.so/1a8a83da97838000b19bf25cc2710290"
        },
        "title": "={{ $json.Username }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Average engagement rate|rich_text",
              "textContent": "={{ $json['Average engagement rate'] }}"
            },
            {
              "key": "Bio/description|rich_text",
              "textContent": "={{ $json['Bio/description'] }}"
            },
            {
              "key": "Date|date",
              "date": "={{ $now }}"
            },
            {
              "key": "Display name|rich_text",
              "textContent": "={{ $json['Display name'] }}"
            },
            {
              "key": "Follower count|rich_text",
              "textContent": "={{ $json['Follower count'] }}"
            },
            {
              "key": "Link to their profile|url",
              "urlValue": "={{ $json['Link to their profile'] }}"
            },
            {
              "key": "Notable brand collaborations|rich_text",
              "textContent": "={{ $json['Notable brand collaborations'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1300,
        0
      ],
      "id": "4d2087a8-eadb-4426-b1f8-4c1e06451326",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "rt5QkWrA48cLvc6K",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1a8a83da-9783-8000-b19b-f25cc2710290",
          "mode": "list",
          "cachedResultName": "Instagram Influencers",
          "cachedResultUrl": "https://www.notion.so/1a8a83da97838000b19bf25cc2710290"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        160,
        -180
      ],
      "id": "f3fedda6-4235-43f1-b8ee-c36a7224dfce",
      "name": "Retrieve Usernames",
      "credentials": {
        "notionApi": {
          "id": "rt5QkWrA48cLvc6K",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "property_username"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        380,
        -180
      ],
      "id": "876624e9-b034-44c4-b003-6a2e17475214",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "NotionSerper": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrieve Usernames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Usernames": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9af5858-1296-4753-a9a9-0707a5c38ead",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1215245b40594561d8f4bda0a76d45f647a880b9614bb630d4000d6c8d5649fe"
  },
  "id": "3bFkWqOv1lmM3szM",
  "tags": []
}